<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees</title>
</head>
<body>
    <h1>View Employee Details</h1>
    <ul>
    <%
    employees.forEach(employee => {
    %>
        <li>
            <h2><%= employee.name %></h2>
            <p>Email: <%= employee.email %></p>
            <p>Position: <%= employee.designation %></p>
            <p>Contact: <%= employee.contact %></p>
            <p>Department: <%= employee.department %></p>
            <p>Joining Date: <%= employee.joiningDate %></p>
            <p>Location: <%= employee.location %></p>
        </li>
    <%
    });
    %>
</ul>
</body>
</html>